* {
    background-color: #abc4ff;
    color: white;
} 

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}


.button {
    width: 100px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: #fff !important;
    color: #abc4ff !important;
}
    
.button:hover {
    opacity: 0.8; /* Slight dim on hover for feedback */
    background-color: #abc4ff;
    color: white;
}
