/* Homepage Specific Styles */

/* Content Layout */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--margin-medium);
    padding: var(--padding-medium);
}

/* Game Cards */
.game-card {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 300px;
    margin: var(--margin-small);
}

.game-card:hover {
    transform: scale(1.05);
}

.game-icon {
    font-size: 4rem;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-medium);
}

.game-info {
    padding: var(--padding-medium);
}

.game-card h2 {
    margin-bottom: var(--margin-small);
    font-size: var(--font-size-large);
}

.game-card p {
    margin-bottom: var(--margin-medium);
    font-size: var(--font-size-normal);
}

/* Utilizing the button styles from shared.css */
.play-btn {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: var(--padding-small) var(--padding-medium);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: var(--font-size-normal);
}

.play-btn:hover {
    background-color: var(--button-hover-bg-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* Responsive Design for Smaller Screens */
@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .game-card {
        width: 100%; /* Adjust the width on smaller screens */
    }

    .game-icon {
        font-size: 3rem; /* Adjust the size of the game icons */
    }
}
