/* Specific styles for the homepage */

/* Content Layout */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--margin-medium);
    padding: var(--padding-medium);
}

/* Game Cards */
.game-card {
    background-color: transparent;
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-icon {
    font-size: 4rem;
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-medium);
    transition: transform 0.3s ease-in-out;
}

.game-card:hover .game-icon {
    transform: rotate(-10deg) scale(1.2);
}

.game-info {
    padding: var(--padding-medium);
    text-align: center;
}

.game-card h2 {
    color: var(--text-color);
    margin-bottom: var(--margin-small);
    font-size: var(--font-size-large);
}

.game-card p {
    color: var(--text-secondary-color);
    margin-bottom: var(--margin-medium);
    font-size: var(--font-size-normal);
}

/* Additional specific styles as needed */
