@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-bg-color: #1A1A2E;
    --secondary-bg-color: #16213E;
    --accent-color: #E94560;
    --text-color: #ffffff;
    --text-secondary-color: #A1A1A1;
    --header-footer-bg-color: #0F3460;
    --button-bg-color: #E94560;
    --button-hover-bg-color: #D72323;
    --button-text-color: #FFFFFF;
    --modal-bg-color: #FFFFFF;
    --modal-overlay-color: rgba(0, 0, 0, 0.6);
    --link-hover-color: #F5F5F5;
    --border-radius: 8px;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    --font-primary: 'Roboto', sans-serif;
    --font-size-normal: 1rem;
    --font-size-large: 2rem;
    --margin-small: 10px;
    --margin-medium: 20px;
    --padding-small: 10px;
    --padding-medium: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

html { 
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    text-align: center;
}

h1, h2, h3, p {
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

.header-style {
    width: 100%;
    padding: var(--padding-small);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer-bg-color);
}

.logo {
    display: flex;
    justify-content: center;
}

#logo-img {
    max-width: 150px;
    height: auto;
}

.nav-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: var(--button-text-color);
    padding: 10px 20px;
    display: inline-block;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.nav-item:hover, .nav-item:focus {
    color: var(--accent-color);
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-bg-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

button:focus {
    background-color: var(--button-focus-bg-color);
    outline: none;
}

.footer {
    background-color: var(--header-footer-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: var(--padding-medium);
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

.social-icon,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon__link:hover {
    color: var(--accent-color);
    transform: translateY(-5px);
}

.menu__link {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0 10px;
    display: inline-block;
    transition: opacity 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.burger-menu-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: var(--padding-small);
    z-index: 100;
    position: absolute;
    top: var(--margin-small);
    right: var(--margin-small);
}

.burger-menu-icon, .burger-menu-icon::before, .burger-menu-icon::after {
    background-color: var(--button-text-color);
    height: 3px;
    width: 30px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    display: block;
    margin-bottom: 5px;
}

.burger-menu-icon::before { top: -8px; }
.burger-menu-icon::after { bottom: -8px; }

@media screen and (max-width: 768px) {
    .burger-menu-button {
        display: block;
    }

    .nav-elements {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: var(--padding-small) 0;
        background-color: var(--header-footer-bg-color);
        box-shadow: var(--box-shadow);
        border-radius: 0 0 10px 10px;
    }

    .nav-elements.is-active {
        display: flex;
    }

    .nav-elements a {
        text-align: center;
        padding: var(--padding-small) 0;
        color: var(--button-text-color);
    }
}

/* Style for the modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 1rem 3rem;
    background-color: white !important;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
    backdrop-filter: blur(10px); /* Increased backdrop blur */
}

.overlay {
    position: fixed;
    z-index: 2; /* Place the overlay above the page content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Apply the blur effect to the overlay */
}

.modal::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(10px); /* Increased backdrop blur */
}

.x {
    filter: grayscale(1);
    border: none;
    background-color: none;
    background-size: cover;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}

.x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.modal h1,
.modal h2,
.modal h3 {
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: black !important;
}

.modal p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
    color: black !important;
}

.modal p a:visited {
    color: black !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
