@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-bg-color: #1A1A2E;
    --secondary-bg-color: #16213E;
    --accent-color: #E94560;
    --text-color: #E1E1E1;
    --text-secondary-color: #A1A1A1;
    --header-footer-bg-color: #0F3460;
    --button-bg-color: #E94560;
    --button-hover-bg-color: #D72323;
    --button-text-color: #FFFFFF;
    --modal-bg-color: #FFFFFF;
    --modal-overlay-color: rgba(0, 0, 0, 0.6);
    --link-hover-color: #F5F5F5;
    --border-radius: 8px;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    --font-primary: 'Roboto', sans-serif;
    --font-size-normal: 1rem;
    --font-size-large: 2rem;
    --margin-small: 10px;
    --margin-medium: 20px;
    --padding-small: 10px;
    --padding-medium: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

html { 
   scroll-behavior: smooth;
}

body, html {
    height: 100%;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-primary);
}

h1, h2, h3, p {
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

.header-style {
    width: 100%;
    padding: var(--padding-small);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer-bg-color);
}

.logo {
    display: flex;
    justify-content: center;
}

#logo-img {
    max-width: 150px;
    height: auto;
}

.nav-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: var(--button-text-color);
    padding: 10px 20px;
    display: inline-block;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.nav-item:hover, .nav-item:focus {
    color: var(--accent-color);
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-bg-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

button:focus {
    background-color: var(--button-focus-bg-color);
    outline: none;
}

.footer {
    background-color: var(--header-footer-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: var(--padding-medium);
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

.social-icon,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon__link:hover {
    color: var(--accent-color);
    transform: translateY(-5px);
}

.menu__link {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0 10px;
    display: inline-block;
    transition: opacity 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.burger-menu-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: var(--padding-small);
    z-index: 100;
    position: absolute;
    top: var(--margin-small);
    right: var(--margin-small);
}

.burger-menu-icon, .burger-menu-icon::before, .burger-menu-icon::after {
    background-color: var(--button-text-color);
    height: 3px;
    width: 30px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    display: block;
    margin-bottom: 5px;
}

.burger-menu-icon::before { top: -8px; }
.burger-menu-icon::after { bottom: -8px; }

@media screen and (max-width: 768px) {
    .burger-menu-button {
        display: block;
    }

    .nav-elements {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: var(--padding-small) 0;
        background-color: var(--header-footer-bg-color);
        box-shadow: var(--box-shadow);
        border-radius: 0 0 10px 10px;
    }

    .nav-elements.is-active {
        display: flex;
    }

    .nav-elements a {
        text-align: center;
        padding: var(--padding-small) 0;
        color: var(--button-text-color);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* High z-index to ensure it's on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: var(--modal-bg-color);
    margin: auto; /* Centers the modal content */
    padding: var(--padding-medium);
    border: none;
    width: 90%; /* Responsive width */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Rounded corners for aesthetics */
    color: #000 !important;
    overflow: hidden; /* Hide overflow */
}

/* Full-screen layout for modal content */
.modal-content > * {
    margin: 20px; /* Spacing inside modal */
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
}
