/* Numble Page Specific Styles */

/* Score Display */
#scoreDisplay {
    margin-bottom: 10px;
    font-size: 20px;
}

/* Difficulty Selector */
#difficulty {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #fff;
    color: #333;
}

/* Guess Grid */
#guessGrid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    max-width: 800px;
    margin: auto;
}

/* Guess Cell */
.guessCell {
    padding: 10px;
    background-color: #abc4ff;
    color: white;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: background-color 0.3s ease;
}

/* Digit Buttons */
#digitButtons {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.digitButton {
    padding: 10px 15px;
    margin: 5px;
    font-size: 18px;
    border: 2px solid #ffffff;
    background-color: #f8f8f8;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.digitButton:hover {
    background-color: #ccdbfd;
}

/* Back Button */
#backButton {
    padding: 10px 15px;
    margin: 5px;
    font-size: 18px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#backButton:hover {
    background-color: #e0e0e0;
    color: #333;
}

/* Submit and Restart Game Buttons */
#submitGuess, #restartGame {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin: 5px;
    background-color: #C1E1C1;
    color: black;
    border: 1px solid white;
}

#submitGuess:hover, #restartGame:hover {
    background-color: #abc4ff;
    color: black;
}

/* Modal Styles */
.modal-content {
    background-color: #333; /* Assuming a dark theme for Numble */
    color: white; /* Text color for content */
}

#closeModalButton {
    background-color: #5cb85c;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}

#closeModalButton:hover {
    background-color: #449d44;
    color: white;
}
