/* Numble Game Specific Styles */

/* Score Display */
#scoreDisplay {
    padding: var(--padding-small);
    border: none; /* Optionally remove border for a cleaner look */
    margin: var(--margin-small) auto;
    transition: transform 0.3s ease;
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
}

/* Guess Grid */
#guessGrid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    grid-template-rows: repeat(6, 1fr); /* 6 rows */
    gap: 5px;
    width: 90%;
    max-width: 800px;
    background-color: var(--secondary-bg-color);
}

.guessCell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--button-bg-color); /* Consistent with shared button color */
    color: var(--button-text-color); /* Consistent with shared button text color */
    border: 1px solid var(--button-bg-color); /* Consistent border color */
    font-size: 20px;
    text-align: center;
    height: 40px;
    transform-style: preserve-3d;
    transition: transform 0.6s, opacity 0.6s;
}

/* Cell Animations */
.guessCell.flip {
    animation: flipIn 0.6s forwards;
}

@keyframes flipIn {
    0% {
        transform: rotateX(0);
        opacity: 0.5;
    }
    100% {
        transform: rotateX(360deg);
        opacity: 1;
    }
}

/* Cell States */
.correct { background-color: #C1E1C1; }
.present { background-color: #ffc784; }
.absent { background-color: transparent; }
.crossed-out {
    text-decoration: line-through;
    opacity: 0.5;
    color: var(--text-secondary-color);
    cursor: not-allowed;
}

/* Number Buttons */
#digitButtons { 
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.digitButton {
    padding: 10px 15px;
    margin: 10px;
    font-size: 18px;
    border: 2px solid var(--button-text-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 70px;
}

.digitButton:hover {
    background-color: var(--button-hover-bg-color);
}

/* Submit and Restart Buttons */
#submitGuess, #restartGame {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid var(--button-text-color);
    border-radius: 6px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

#submitGuess:hover { background-color: var(--button-hover-bg-color); }

/* Difficulty Dropdown */
#difficulty {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--button-text-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: var(--modal-bg-color);
    color: var(--text-color);
}

/* Responsive Adjustments */
@media (min-width: 600px) {
    .digitButton, #difficulty, #backButton {
        font-size: 18px;
        padding: 15px;
        margin: 5px;
    }
}

@media (min-width: 768px) {
    .digitButton, #difficulty, #backButton {
        font-size: 20px;
        padding: 10px;
        margin: 6px;
    }
}

@media (max-width: 320px) {
    .digitButton, #difficulty, #backButton {
        font-size: 14px;
        padding: 8px;
    }
}
