/* Rock Paper Scissors (RPS) Game Specific Styles */

/* Game Mode Indicator */
.game-mode-indicator {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #2ecc71; /* Green background for visibility */
    color: white;
    font-weight: bold;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}
  
.game-mode-indicator.active {
    background-color: #2ecc71; /* Blue for active state */
}

#current-game-mode {
    text-transform: uppercase;
}

/* Game Choices (Rock, Paper, Scissors images) */
#game {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.choice {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    background-size: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px; /* Spacing between choices */
}

.choice:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

/* Countdown Timer */
#countdown {
    font-size: 3em; /* Larger font size for visibility */
    color: white;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Result and Score Display */
#result, #score {
    font-size: 1.5em;
    margin-top: 20px;
    color: #fff;
}

.score-board {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: space-evenly;
}

.score h2 {
    color: #34495e;
    margin-bottom: 10px;
    font-size: 22px;
}

.score span {
    font-size: 2em;
    color: #2ecc71;
}

/* Game Modes */
#game-modes {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.game-mode {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1em;
}

.game-mode:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}

/* Game History */
#game-history {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#history-list {
    list-style-type: none;
    padding: 0;
}

#history-list li {
    margin-bottom: 5px;
    font-size: 0.9em;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .score-board, #game-history, #game, #countdown {
        width: 80%;
        /* Adjustments for smaller screens */
    }

    .choice {
        width: 90px;
        height: 90px;
    }
}

/* Additional Responsive Adjustments as needed */

